* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
    color: #610c0c;
    font-size: 60px;
}

body {
    background-color: #fffffebb;
}

.dashes {
    letter-spacing: 5px;
}
