body {
    h1, {font-family: serif; color: #FF0000} 
    text-align: center;
   /*font-faminily: ;
   paddinng-bottom: ;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center
   */
}